.wrapper {
  height: 100%;
  flex-flow: row wrap;
  text-align: center;
  padding-bottom: 50%;
  width: 100%;
  overflow: auto;
  
  /* background-repeat: repeat; */
  background-size: cover; 
}

background-image: url("../images/static.gif");