.wrapper {
  height: 80vh;
  flex-flow: row wrap;
  text-align: center;
  padding-bottom: 0%;
  width: 100%;
  overflow: hidden;
  /* background-image: url("../images/static.gif");   */
  /* background-repeat: repeat; */
  background-size: cover; 
  margin: 0 !important;
}

