.wrapper {
  height: 100%;
  flex-flow: row wrap;
  text-align: center;
  padding-bottom: 20%;
  width: 100%;
  overflow: auto;
  background-image: url("../images/static.gif");  
  /* background-repeat: repeat; */
  background-size: cover; 
  margin: 0 !important;
}

